/* -----QUERY MEDIA-----*/
@media only screen and (max-width: 460px ) {


    .tituloTexto {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 880px;
    }
    .tituloCovid{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .bloqueUno {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tituloTextodos {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1250px;
    }
    .bloqueDos {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1300px;
    }
    .tituloGaleria {
      width: 900px;
      height: 50px;
      left: 300px;
      display: flex;
    }
    
    
    
    }
    
    @media only screen and (min-width: 461px) 
    and (max-width: 741px) {
    
    
    
          .tituloTexto {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 880px;
          }
          .tituloCovid{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .bloqueUno {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .tituloTextodos {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 1250px;
          }
          .bloqueDos {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 1300px;
          }
          .tituloGaleria {
              width: 900px;
              height: 50px;
              left: 300px;
              display: flex;
          }
      
          
          
    }
    
    @media only screen and (min-width: 742px) 
    and (max-width: 840px) {
    
    
          .tituloTexto {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 880px;
          }
          .tituloCovid{
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .bloqueUno {
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .tituloTextodos {
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 1250px;
          }
          .bloqueDos {
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 1300px;
          }
          .tituloGaleria {
              width: 900px;
              height: 50px;
              left: 300px;
              display: flex;
          }
      
    }
    @media only screen and (min-width: 841px) 
    and (max-width: 1000px) {
    
          .bebeFondo {
              top: 50px;
          }
          .tituloTexto {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 880px;
          }
          .tituloCovid{
              width: 70%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .bloqueUno {
              width: 70%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .tituloTextodos {
              width: 70%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 1250px;
          }
          .bloqueDos {
              width: 70%;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 1300px;
          }
          .tituloGaleria {
              width: 900px;
              height: 50px;
              left: 300px;
              display: flex;
          }
     
          
    }