/* -----QUERY MEDIA-----*/
@media only screen and (max-width: 460px ) {
  .diafragma {
    width: 25%;
  }
  .bph {
    width: 25%;
  }
.carousel {
    max-width: 200px;
}

.tituloTexto {
    font-size: 9px;
  }
  
  .tituloCovid {
    font-size: 9px;
  }
  .bloqueUno { 
    font-size: 9px;
  }
  
  .tituloTextodos {
    font-size: 9px;
  }
  
  .bloqueDos {
    font-size: 9px;
  }



    }
    
    @media only screen and (min-width: 461px) 
    and (max-width: 741px) {
      .diafragma {
        width: 50%;
      }
      .bph {
        width: 50%;
      }
       .carousel {

        max-width: 220px;
       }
       .tituloTexto {
        font-size: 11px;
      }
      
      .tituloCovid {
        font-size: 11px;
      }
      .bloqueUno { 
        font-size: 11px;
      }
      
      .tituloTextodos {
        font-size: 11px;
      }
      
      .bloqueDos {
        font-size: 11px;
      }
          
    }
    
    @media only screen and (min-width: 742px) 
    and (max-width: 840px) {
      .diafragma {
        width: 60%;
      }
      .bph {
        width: 60%;
      }
        .carousel {
            max-width: 280px;
        }
        .tituloTexto {
            font-size: 14px ;
          }
          
          .tituloCovid {
            font-size: 14px;
          }
          .bloqueUno { 
            font-size: 14px;
          }
          
          .tituloTextodos {
            font-size: 14px;
          }
          
          .bloqueDos {
            font-size: 14px;
          }
      
    }
    @media only screen and (min-width: 841px) 
    and (max-width: 1000px) {
    

      .diafragma {
        width: 75%;
      }
      .bph {
        width: 75%;
      }

        .carousel {
            max-width: 350px; 

          }
          .tituloTexto {
            font-size: 16px;
          }
          
          .tituloCovid {
            font-size: 16px;
          }
          .bloqueUno { 
            font-size: 16px;
          }
          
          .tituloTextodos {
            font-size: 16px;
          }
          
          .bloqueDos {
            font-size: 16px;
          }
    }